<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Todos with Backbone and Foundation 3</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <script src="javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <div id="todoWrapper" class="row">
    <div class="eight columns centered">
      <div class="panel radius">
        <h3>Todos with Backbone and Foundation 3</h3>
        <div id="tabsWrapper" class="row">

          <div class="twelve columns">
            <dl class="tabs"></dl>

            <ul class="tabs-content"></ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Included JS Files -->
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery.reveal.js"></script>
  <script src="javascripts/jquery.orbit-1.4.0.js"></script>
  <script src="javascripts/jquery.customforms.js"></script>
  <script src="javascripts/jquery.placeholder.min.js"></script>
  <script src="javascripts/jquery.tooltips.js"></script>
  <script src="javascripts/underscore-min.js"></script>
  <script src="javascripts/backbone-min.js"></script>
  <script src="javascripts/todos.js"></script>


  <script type="text/html" id="todo-task-tpl">
  <label for="<%= cid %>">
    <input type="checkbox" id="<%= cid %>" style="display: none;">
    <span class="custom checkbox"></span>
    <span class="taskName"><%= name %></span>
  </label>
  <div class="close">×</div>
  </script>

  <script type="text/html" id="todo-tasks-tpl">
  <form class="custom">
    <div class="row">
      <ul class="twelve columns tasks">
        <li class="addTask">
          <div class="row collapse">
            <div class="ten mobile-three columns">
              <input type="text" placeholder="Enter a Todo" />
            </div>
            <div class="two mobile-one columns">
              <a href="#" class="postfix button">Add</a>
            </div>
          </div>
        </li>
        <li class="empty">Nothing to do...</li>
      </ul>
    </div>
  </form>
  </script>

  <script type="text/html" id="todo-tasks-status">
  <li class="status">0 tasks completed</li>
  </script>

  <script type="text/html" id="todo-tab-tpl">
  <a href="#<%= cid %>"><%= name %></a>
  </script>

</body>
</html>

